*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:blueviolet;
    color: 333;
    text-align: center;
    line-height: 3; 
}

.section{
    padding: 40px 20px;
}

.hero{
    padding: 50px 20px;
}
 
.hero h2{
    font-size: 32px;
}

.grid{
    display: grid;
    gap: 10px;
}

.grid div{
    background-color:rgb(238, 202, 202);
    padding: 20px; 
    border-radius: 40px; 
}

@media (max-width: 7680x){
    .hero h1{font-size: 40px;}
    body{background-color:rgb(233, 210, 238)} 
}

.hero-text{
    display: flex;
    flex-direction: column;
}
.hero img {
    border-radius: 50%;
}